.versions-container {
}

.coursesList {
  /* max-height: 100vh;
  overflow-y: scroll; */
}
.coursesList::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}

.coursesList::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.coursesList::-webkit-scrollbar-track {
  background-color: transparent;
}
