.variants-container {
  background-color: #fbfbfb;
  height: 100%;
}

.header {
  padding-top: 3rem;
  background-color: #f5f5f5;
}
.coursesList {
  max-height: 200vh;
  overflow-y: scroll;
}
.coursesList::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}

.coursesList::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.coursesList::-webkit-scrollbar-track {
  background-color: transparent;
}
