.variants-container {
  background-color: #fbfbfb;
  height: 100%;
}

.header {
  padding-top: 3rem;
  background-color: #f5f5f5;
}
.variantsList {
  /* max-height: 118rem; */
  overflow-y: scroll;
}
.variantsList::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}

.variantsList::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.variantsList::-webkit-scrollbar-track {
  background-color: transparent;
}
