.variants-container {
  background-color: #fbfbfb;
  max-height: inherit;
  min-height: 100%;
  overflow-y: scroll;
}

.header {
  padding-top: 3rem;
  background-color: #f5f5f5;
}

.variantsList::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}

.variantsList::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.variantsList::-webkit-scrollbar-track {
  background-color: transparent;
}
